<html>
<head>
<title>SWITCH</title>
</head>
<body>
	
	<script src="./static/js/axios/axios.min.js"></script>
	<script src="./static/js/requests.js"></script>
	<script src="./static/js/index.js"></script>
	
	<form name="SWITCH" method="post">
		<input type="checkbox" name="s1" id="s1">
		<input type="checkbox" name="s2" id="s2">
		<input type="checkbox" name="s3" id="s3">
		<input type="checkbox" name="s4" id="s4">
		
		<input type="button" value="set" onClick="javascript:window.setSwitchPattern();">
	</form>
</body>
</html>
