.App {
  background-color: #282c34;
}

.App-body {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-field {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.App-field-label {
  display: flex;
  color: rgb(194, 229, 190);
  flex: 1;
}

.App-field-input {
  display: flex;
  flex: 3;
  color: rgb(93, 155, 86);
}

.App-result {
  display: flex;
  color: rgb(194, 229, 190);
  flex: 1;
}