<html>
<head>
<title>SWITCH</title>
</head>
<body>
	
	<!-- Bootstrap -->
	<script src="./static/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="./static/js/popper/popper.min.js"></script>
	<link rel="stylesheet" href="./static/bootstrap-4.5.2/css/bootstrap.min.css">
    <script src="./static/bootstrap-4.5.2/js/bootstrap.min.js"></script>

	<!-- Axios -->
	<script src="./static/js/axios/axios.min.js"></script>
	
	<!-- Project code -->
	<script src="./static/js/requests.js"></script>
	<script src="./static/js/index.js"></script>
	
	<form name="SWITCH" method="post">
		<input type="checkbox" name="s1" id="s1">
		<input type="checkbox" name="s2" id="s2">
		<input type="checkbox" name="s3" id="s3">
		<input type="checkbox" name="s4" id="s4">
		
		<input type="button" value="set" onClick="javascript:window.setSwitchPattern();">
	</form>
</body>
</html>
